html {
  overflow-y: scroll;
  overflow-x: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-image: url("imgs/bg-main.png");
	width: 990px;
	margin-left: auto;
	margin-right: auto;
}

ul, li, span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;	
}

.bold {
	font-weight: bold;
}

.red {
	color: #8B3330;
}

.through {
	text-decoration: line-through;
}

.real-red {
	color: red;
}

.border {
	border: 1px solid red;
}

.container, 
.container-fluid {
/*	padding-right: 70px; 
	padding-left: 70px;*/
}

.header {
	color: #ffffff;
/*	padding-left: 70px;
	padding-right: 70px;*/
	opacity: 0.8;
}

.header .col-md-12 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.header img {
	float: left;
}

.header .right-side {
	float: right;
}

.header button {	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	border: 2px solid #7B254C;
	color: #AE3266;
	border-radius: 5px;
	margin-left: auto;
} 

.header button:hover {	
	background-color: #68615D;
	color: #fff;
	border: 2px solid black;
} 

.header .phone-digits {
	font-size: 36px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.header .glyphicon-earphone {
	font-size: 25px;
	color: #7B2566;
}

.phone-digits-wrap {
	display: flex;
}

.phone-digits {
	color: #7B2566;
}

.menu-wrapper {
	margin-top: 20px;
	margin-left: auto;
	font-size: 22px;
}

.menu-wrapper a {
	background-color: #CD4375;
	color: #fff;
	padding: 5px 17px;
	border-radius: 5px;
	border: 1px solid #AE3266;
}

.menu-wrapper a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #7B2566;
	border: 1px solid black;
}

.cons-phone {
	margin-left: 15px;
}

.carousel-wrap {
/*	padding-left: 70px;
	padding-right: 70px;*/
}

.carousel-control {
	width: 0;
}

.carousel-caption {	
	text-align: left;
	top: -5%;
	color: black;
	text-shadow: none;
	left: 45%;
	right: 5%;
}

.carousel-caption h2 {	
	top: 0;
	font-size: 53px;
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
}

#carousel-main-screen {
/*	padding-left: 70px;
	padding-right: 70px;*/
}

#carousel-main-screen .carousel-inner > .item > img {
	margin-left: auto;
	margin-right: auto;
	width: 990px;
/*	height: 60vh;*/
/*	width: 100%;*/
/*	height: 420px;*/
}

#carousel-main-screen {
/*	position: relative;*/
/*	height: 420px;*/
/*	height: 60vh;*/
}

.carousel-control .glyphicon-chevron-left {
	margin-left: 20px;
}

.carousel-control .glyphicon-chevron-right {
	margin-right: 20px;
}

#carousel-main-screen .glyphicon-chevron-left,
#carousel-main-screen .glyphicon-chevron-right {
	top: 48.5%;
}


/*Модальное окно Bootstrap*/
.modal-title {
	color: #000000;
	padding-right: 15px;
}
.modal-backdrop.in {
	opacity: .8;
}
.modal-dialog {
	width: 320px;
}
.modal-content {
	background-color: #F1F1F1;
}
.modal-body {
	padding-top: 0;
	margin-top: -20px;
}
.modal-body input[type="text"] {
	width: 100%;
	height: 35px;
	font-size: 18px;
}
.modal-body form > div:nth-child(2) {
	margin-top: 20px;
}
.modal-body > form > div > div {
	color: #028090;
	font-weight: bold;
	font-size: 18px;
}
.modal-body input[type="submit"] {
	background-color: #E7382B;
	color: #ffffff;
	width: 100%;
	height: 60px;
	border: medium none;
	border-radius: 2px;
	font-size: 24px;
	margin-bottom: 5px;
	margin-top: 24px;
	letter-spacing: 1px;
}
.modal-body input[type="submit"]:hover {
	background-color: #339933;
}
.modal-body button:hover {
	background-color: #B03A32;
}
.modal-header {
	border-bottom: none;
	padding-right: 15px;
	padding-top: 15px;
}

/*Модальное окно Bootstrap*/


/*LightGallery*/
#lightgallery img {
	margin-bottom: 5px;
}
/*LightGallery*/

@media screen and (min-device-width: 320px) {
	
}

@media screen and (min-device-width: 768px) {
	
}

@media screen and (min-device-width: 992px) {

}

@media screen and (min-device-width: 1366px) {
	.header {
/*		padding-left: 70px;
		padding-right: 70px;*/
	}
	
}






















































	